/* ============================================
   REZEPTE APP - Custom CSS
   ============================================ */

/* -------- FONTS -------- */
@font-face {
    font-family: 'Phosphor';
    src: url('/static/fonts/Phosphor.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* -------- ICONS -------- */
.ph-icon {
    font-family: 'Phosphor';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    display: inline-block;
    font-size: 1.8rem;
    opacity: 0.7;
    filter: brightness(0.9) saturate(150%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ph-btn-icon {
    font-family: 'Phosphor';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    display: inline-block;
    font-size: 1.3em; 
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hint {
    color: #d58e00;
}

.table-header-bold {
    font-weight: bold;
}

.text-right {
    text-align: right;
}