<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Rezepte App{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', path='/css/pico.min.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', path='/css/custom.css') }}">
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong><a href="/" class="contrast">Edis Rezepte</a></strong></li>
        </ul>
        <ul>
            <li><a href="/" class="secondary">Alle Rezepte</a></li>
            <li>
                <a href="#" role="button" class="outline secondary nav-link-button">
                    <span class="ph-btn-icon">&#xE4C2;</span> Login
                </a>
            </li>
        </ul>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>