{% extends "base.html" %}

{% block title %}Alle Rezepte{% endblock %}

{% block content %}
    <hgroup>
        <h1>Alle Rezepte</h1>
        <small>Deine Sammlung</small>
    </hgroup>

    <figure>
        <table role="grid">
            <thead>
                <tr>
                    <th scope="col"><strong>Name</strong></th>
                    <th scope="col"><strong>Autor</strong></th>
                    <th scope="col" style="text-align: right;"><strong>Aktion</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                <tr>
                    <td>
                        <a href="/recipe/{{ recipe.id }}" class="contrast">
                            <strong>{{ recipe.name }}</strong>
                        </a>
                    </td>
                    
                    <td>{{ recipe.author }}</td>
                    
                    <td style="text-align: right;">
                        <a href="/recipe/{{ recipe.id }}/pdf" target="_blank" role="button" class="outline secondary" style="padding: 0.2rem 0.8rem; font-size: 0.9rem;">
                            <span class="ph-btn-icon" style="font-size: 1.1rem;">&#xE702;</span> Herunterladen
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </figure>
{% endblock %}