{% extends "base.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
<article style="margin-top: 1rem; padding-top: 1rem;">
    
    <div class="grid" style="align-items: start; margin-bottom: 1rem;">
        <div>
            <hgroup style="margin-bottom: 0;">
                <h1 style="margin-bottom: 0;">{{ recipe.name }}</h1>
                <small>Von {{ recipe.author }}</small>
            </hgroup>
        </div>
        
        <div style="display: flex; justify-content: flex-end; gap: 0.5rem;">
            {% if can_edit %}
            <a href="/recipe/{{ recipe.id }}/edit" role="button" class="outline secondary nav-link-button">
                <span class="ph-btn-icon">&#xE3B4;</span> Bearbeiten
            </a>
            {% endif %}

            {% if can_delete %}
            <a href="/recipe/{{ recipe.id }}/delete" role="button" class="outline pico-background-red-500 pico-color-red-500 pico-border-red-500 secondary nav-link-button">
                <span class="ph-btn-icon">&#xE4A6;</span> Löschen
            </a>
            {% endif %}

            <a href="/recipe/{{ recipe.id }}/pdf" target="_blank" role="button" class="outline contrast nav-link-button">
                <span class="ph-btn-icon">&#xE702;</span> PDF
            </a>
        </div>
    </div>
    <figure>
        <table role="grid" class="striped">
            <thead>
                <tr>
                    <th scope="col" class="table-header-bold" style="width: 30%;">Zutaten</th>
                    <th scope="col" class="table-header-bold">Zubereitung</th>
                </tr>
            </thead>
            <tbody>
                {% for step in steps %}
                <tr>
                    <td valign="top">
                        {% if step.ingredients %}
                            <ul class="ingredient-list">
                                {% for ing in step.ingredients %}
                                <li class="ingredient-item">
                                    {{ "%g" % ing.amount_min }} 
                                    {% if ing.amount_max %}- {{ "%g" % ing.amount_max }}{% endif %}
                                    {{ ing.unit_symbol }} 
                                    <strong>{{ ing.item }}</strong>
                                    {% if ing.note %}<em>({{ ing.note }})</em>{% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        {% elif step.codepoint %}
                            <div class="icon-align-right">
                                <div class="ph-icon" style="color: {{ step.html_color }};">
                                    &#x{{ step.codepoint }};
                                </div>
                            </div>
                        {% endif %}
                    </td>

                    <td valign="top">
                        {{ step.markdown_text }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </figure>
</article>
{% endblock %}