{% extends "base.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
<article>
    <div class="grid">
        <div>
            <hgroup>
                <h1>{{ recipe.name }}</h1>
                <small>Von {{ recipe.author }}</small>
            </hgroup>
        </div>
        <div style="text-align: right;">
            <a href="/recipe/{{ recipe.id }}/pdf" target="_blank" role="button" class="outline contrast">PDF Export</a>
        </div>
    </div>

    <figure>
        <table role="grid" class="striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 30%;">Zutaten</th>
                    <th scope="col">Zubereitung</th>
                </tr>
            </thead>
            <tbody>
                {% for step in steps %}
                <tr>
                    <td valign="top">
                        {% if step.ingredients %}
                            <ul class="ingredient-list">
                                {% for ing in step.ingredients %}
                                <li class="ingredient-item">
                                    {{ "%g" % ing.amount_min }} 
                                    {% if ing.amount_max %}- {{ "%g" % ing.amount_max }}{% endif %}
                                    {{ ing.unit_symbol }} 
                                    <strong>{{ ing.item }}</strong>
                                    {% if ing.note %}<em>({{ ing.note }})</em>{% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        
                        {% elif step.codepoint %}
                            <div style="text-align: right; padding-right: 0.5rem;">
                                <div class="ph-icon" style="color: {{ step.html_color }};">
                                    &#x{{ step.codepoint }};
                                </div>
                            </div>
                        {% endif %}
                    </td>

                    <td valign="top">
                        {{ step.markdown_text }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>        </table>
    </figure>

</article>
{% endblock %}